/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

/* Variables */
:root{
	/* Colors */
	--moderate-cyan: hsl(176, 50%, 47%);
	--dark-cyan: hsl(176, 72%, 28%);
	--black: hsl(0, 0%, 0%);
	--dark-gray: hsl(0, 0%, 48%);
	--light-white: hsl(0deg 0% 98%);

	/* Fuentes */
	--font: 'Commissioner', sans-serif;

	/* Bordes */
	--border-light: 1px solid var(--light-white);
	--border-dark: 1px solid var(--dark-gray);
	--border-cyan: 1px solid var(--moderate-cyan);
	--radius: 10px;
	--radius-button: 50px;
}

/* Diseño */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--font);
}
.home{
	width: 100vw;
	height: 408vh;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 9% 2% 10% 17% 62%;
	grid-template-columns: 100%;
	background-color: var(--light-white);
}
.masthead{
	grid-row: 1/3;
	grid-column: 1/2;
	width: 100%;
	height: 100%;
	padding: 9% 6%;
	background-image: url('../images/image-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 70% 30%;
}
.masthead .logo{
	justify-self: start;
	align-self: start;
	width: 50%;
	z-index: 20;
}
.masthead .menu-toggle{
	justify-self: end;
	align-self: start;
	z-index: 20;
}
.masthead .menu-toggle:hover{
	cursor: pointer;
}
.masthead .main-navigation{
	display: none;
	background-color: white;
	position: absolute;
	top: 12%;
	width: 88%;
	height: 33%;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	z-index: 20;
	border: var(--border-light);
	border-radius: var(--radius);
}
.masthead .main-navigation ul{
	justify-self: start;
	align-self: start;
	display: grid;
	grid-template-rows: repeat(3. 1fr);
	grid-template-columns: 100%;
	grid-row-gap: 1%;
	height: 100%;
	width: 100%;
}
.masthead .main-navigation .navigation-item{
	display: grid;
}
.masthead .main-navigation #about,
.masthead .main-navigation #discover{
	border-bottom: var(--border-light);
}
.masthead .main-navigation #started,
.masthead .main-navigation #discover{
	border-top: var(--border-light);
}
.masthead .main-navigation .navigation-item a{
	align-self: center;
	padding: 0 6%;
	font-size: 12px;
	font-size: 0.75rem;
	color: var(--black);
	font-weight: 500;
}
.masthead .main-navigation .navigation-item a:hover{
	color: var(--dark-gray);
}
.bg-inactive{
	height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
    display: none;
    background: var(--black);
    mix-blend-mode: normal;
    opacity: 0.5;
	z-index: 15;
}
.grid-container{
	grid-row: 2/4;
	grid-column: 1/2;
	z-index: 10;
	margin: 0 6% 6%;
	background-color: white;
	border: var(--border-light);
	border-radius: var(--radius);
	padding: 0 6%;
	display: grid;
	grid-template-rows: 20% 26% 24% 30%;
	grid-template-columns: 75% 25%;
}
.grid-container .entry-logo{
	justify-self: center;
	align-self: center;
	margin-top: -56px;
	grid-column: 1/3;
}
.grid-container .entry-logo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.grid-container .entry-tittle{
	grid-column: 1/3;
	justify-self: center;
	align-self: start;
	text-align: center;
	font-size: 16px;
	font-size: 1rem;
	padding: 0 6%;
	color: var(--black);
}
.grid-container .entry-subtittle{
	grid-column: 1/3;
	justify-self: center;
	align-self: start;
	text-align: center;
	font-size: 12px;
	font-size: 0.75rem;
	color: var(--dark-gray)
}
.grid-container .entry-button{
	justify-self: start;
	align-self: center;
	color: white;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 500;
	background-color: var(--moderate-cyan);
	border: var(--border-cyan);
	border-radius: var(--radius-button);
	width: 100%;
	height: 68%;
}
.grid-container .entry-button:hover{
	background-color: var(--dark-cyan);
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
.grid-container .entry-bookmark{
	justify-self: end;
	align-self: center;
	background-color: transparent;
	height: 68%;
	width: auto;
}
.grid-container .entry-bookmark svg{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.grid-container .entry-bookmark span{
	display: none;
}
.entry-data{
	z-index: 10;
	margin: 0 6% 6%;
	background-color: white;
	border: var(--border-light);
	border-radius: var(--radius);
	padding: 0 6%;
	display: grid;
	grid-template-rows: 29% 28% 29% 14%;
	grid-template-columns: 100%;
}
.entry-data .entry-item{
	align-self: center;
	justify-self: center;
	text-align: center;
}
.entry-data .entry-item .entry-tittle{
	color:var(--black);
	font-size: 32px;
	font-size: 2rem;
}
.entry-data .entry-item .entry-summary{
	color:var(--dark-gray);
	font-size: 12px;
	font-size: 0.75rem;
}
.entry-data .entry-progress {
    height: 20%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--light-white);
}
 
.entry-data .entry-progress .progress-bar {
    height: 100%;
	width: 70%;
    background: var(--moderate-cyan);
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.entry-products{
	z-index: 10;
	margin: 0 6%;
	padding: 6%;
	background-color: white;
	border: var(--border-light);
	border-radius: var(--radius);
	display: grid;
	grid-template-rows: 5% 22.01% 24.33% 24.33% 24.33%;
	grid-template-columns: 100%;
}
.entry-products .entry-tittle{
	justify-self: start;
	align-self: center;
	color: var(--black);
	font-size: 14px;
	font-size: 0.875rem;
}
.entry-products .entry-summary{
	justify-self: start;
	align-self: start;
	color: var(--dark-gray);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.8;
}
.entry-products .entry-product{
	padding: 6% 8%;
	border: var(--border-dark);
	border-radius: var(--radius);
	margin-top: 8%;
	display: grid;
	grid-template-rows: 7% 12% 44% 17% 20%;
}
.entry-products .entry-product .entry-tittle{
	justify-self: start;
	align-self: start;
	color: var(--black);
	font-size: 10px;
	font-size: 0.625rem;
}
.entry-products .entry-product .entry-subtittle{
	justify-self: start;
	align-self: start;
	color: var(--moderate-cyan);
	font-size: 10px;
	font-size: 0.625rem;
}
.entry-products .entry-product .entry-summary{
	justify-self: start;
	align-self: center;
	color: var(--dark-gray);
	font-size: 11px;
	font-size: 0.6875rem;
}
.entry-products .entry-product .entry-quantity{
	justify-self: start;
	align-self: center;
	color: var(--black);
	font-size: 22px;
	font-size: 1.375rem;
}
.entry-products .entry-product .entry-quantity::after,
.entry-modal .entry-product .entry-quantity::after{
	content: ' left';
	justify-self: start;
	align-self: top;
	color: var(--dark-gray);
	font-size: 13px;
	font-size: 0.75rem;
	font-weight: 400;
}
.entry-products .entry-product .entry-modal-button{
	justify-self: start;
	align-self: center;
	color: white;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 500;
	background-color: var(--moderate-cyan);
	border: var(--border-cyan);
	border-radius: var(--radius-button);
	width: 68%;
	height: 68%;
}
.entry-products .entry-product .entry-modal-button:hover{
	background-color: var(--dark-cyan);
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
.entry-products #mahogany{
	opacity: 0.5;
}
.entry-products #mahogany .entry-modal-button{
	background-color: var(--dark-gray);
	border: var(--dark-gray);
}
/* Modal principal */
.entry-modal{
	display: none;
	position: absolute;
	top: 12%;
	left: 6%;
	width: 88%;
	height: 204%;
	background-color: white;
	z-index: 25;
	flex-direction: column;
	padding: 4% 6%;
	border: var(--border-light);
	border-radius: var(--radius);
}
.entry-modal .entry-tittle{
	width: 80%;
	height: 5%;
	color: var(--black);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	
}
.entry-modal .entry-button-close{
	width: 5%;
	position: absolute;
	right: 6%;
}
.entry-modal .entry-button-close svg{
	width: 100%;
	height: 100%;
	object-position: center;
}
.entry-modal .entry-button-close .close-svg path:hover{
	cursor: pointer;
	opacity: 1;
}
.entry-modal .entry-summary{
	height: 6%;
	grid-column: 1/3;
	justify-self: start;
	align-self: start;
	color: var(--dark-gray);
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 1.8;
}
.entry-modal .entry-product{
	height: 23%;
	grid-column: 1/3;
	border: var(--border-dark);
	border-radius: var(--radius);
	padding: 6%;
	display: grid;
	grid-template-rows: 23% 60% 17%;
	grid-template-columns: 16% 84%;
	margin-bottom: 8%;
}
/* The radio button input */
.entry-input {
	align-self: end;
	grid-column: 1/3;
	display: grid;
	grid-template-columns: 50px auto;
	grid-template-rows: 50% 50%;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}
.entry-input:hover {
	cursor: pointer;
	color: var(--moderate-cyan);
}
.entry-input .entry-tittle{
	justify-self: start;
	align-self: center;
	height: auto;
	grid-column: 2/3;
	grid-row: 1/2;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 700;
}
.entry-input input {
	opacity: 0;
	cursor: pointer;
	grid-column: 1/2;
	grid-row: 1/3;
	align-self: center;
}
.entry-input .checkmark {
	align-self: center;
	grid-column: 1/2;
	grid-row: 1/3;
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 50%;
	border: var(--border-dark);
}
.entry-input input:checked ~ .checkmark {
	background-color: white;
	border: var(--border-dark);
}
.entry-input .checkmark:after {
	content: "";
	grid-column: 1/2;
	grid-row: 1/3;
	display: none;
	width: 60%;
	height: 60%;
	margin: 20%;
	border-radius: 50%;
	background: var(--moderate-cyan);
}
.entry-input input:checked ~ .checkmark:after {
	display: block;
}
.entry-modal .entry-product .entry-subtittle{
	grid-column: 2/3;
	justify-self: start;
	align-self: start;
	color: var(--moderate-cyan);
	font-size: 10px;
	font-size: 0.625rem;
}
.entry-modal .entry-product .entry-summary{
	grid-column: 1/3;
	justify-self: start;
	align-self: center;
	width: 100%;
	height: auto;
	color: var(--dark-gray);
	font-size: 10px;
	font-size: 0.625rem;
	line-height: 1.8;
}
.entry-modal .entry-product .entry-quantity{
	grid-column: 1/3;
	justify-self: start;
	align-self: end;
	font-size: 14px;
	font-size: 0.875rem;
}
.entry-modal .entry-pledge{
	display: none;
}
.entry-modal #no-reward{
	height: 20%;
}
.entry-modal #no-reward .entry-input{
	grid-row: 1/2;
}
.entry-modal #no-reward .entry-tittle{
	grid-row: 1/3;
}
.entry-modal #no-reward .entry-summary{
	grid-row: 2/3;
}
.entry-modal #mahogany{
	opacity: 0.5;
}
/* Cuando esta seleccionado el producto */
.modal-expanded{
	height: 224%;
}
.entry-modal .product-selected{
	grid-template-rows: 13% 37% 13% 37%;
	border: 2px solid var(--moderate-cyan);
	height: 34%;
	transition: height .3s;
}
.entry-modal .product-selected-no-reward{
	border: 2px solid var(--moderate-cyan);
}
.entry-modal .product-selected .pledge-open{
	display: grid;
	grid-column: 1/3;
	grid-template-rows: 55% 45%;
	grid-template-columns: 48% 48%;
	grid-column-gap: 4%;
	border-top: var(--border-dark);
	margin-top: 6%;
	width: 114%;
	margin-left: -7%;
}
.entry-modal .product-selected .pledge-open .entry-tittle{
	grid-row: 1/2;
	grid-column: 1/3;
	width: 100%;
	text-align: center;
	align-self: center;
	color: var(--dark-gray);
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 400;
}
.entry-modal .product-selected .pledge-open .entry-reward{
	grid-column: 1/2;
	grid-row: 2/3;
	justify-self: end;
	align-self: end;
	background-color: transparent;
	border: var(--border-dark);
	border-radius: var(--radius-button);
	width: 88%;
	height: 90%;
	display: grid;
	grid-template-columns: 35% 55%;
	grid-column-gap: 10%;
}
.entry-modal .product-selected .pledge-open .entry-reward label{
	align-self: center;
	justify-self: end;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 400;
	color: var(--dark-gray);
}
.entry-modal .product-selected .pledge-open .entry-reward input{
	align-self: center;
	justify-self: start;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 700;
	color: var(--black);
	width: 50%;
}
.entry-modal .product-selected .pledge-open .entry-reward input:focus{
	outline: none;
}
.entry-modal .product-selected .pledge-open .input-selected{
	cursor: pointer;
	border: var(--border-cyan);
}
.entry-modal .product-selected .pledge-open .input-selected input{
	caret-color: var(--moderate-cyan) 
}
.entry-modal .product-selected .pledge-open .entry-reward-button{
	grid-column: 2/3;
	grid-row: 2/3;
	justify-self: start;
	align-self: end;
	color: var(--light-white);
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 500;
	background-color: var(--moderate-cyan);
	border: var(--border-cyan);
	border-radius: var(--radius-button);
	width: 88%;
	height: 90%;
}
.entry-modal .product-selected .pledge-open .entry-reward-button:hover{
	background-color: var(--dark-cyan);
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}
/* Modal Success */
.entry-modal-success{
	display: none;
	position: absolute;
	top: 22%;
	left: 6%;
	width: 88%;
	height: 58%;
	background-color: white;
	z-index: 25;
	padding: 4% 6%;
	border: var(--border-light);
	border-radius: var(--radius);
	grid-template-rows: 25% 12% 31% 32%;
}
.entry-modal-success .entry-icon{
	justify-self: center;
	align-self: end;
}
.entry-modal-success .entry-icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.entry-modal-success .entry-tittle{
	justify-self: center;
	align-self: center;
	text-align: center;
	color: var(--black);
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
}
.entry-modal-success .entry-summary{
	justify-self: center;
	align-self: center;
	text-align: center;
	color: var(--dark-gray);
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 400;
}
.entry-modal-success .close-modal-success-button{
	justify-self: center;
	align-self: center;
	color: var(--light-white);
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 500;
	background-color: var(--moderate-cyan);
	border: var(--border-cyan);
	border-radius: var(--radius-button);
	width: 40%;
	height: 45%;
}
.entry-modal-success .close-modal-success-button:hover{
	background-color: var(--dark-cyan);
	cursor: pointer;
	transition: background-color .3s ease-in-out;
}

/* 
  ##Device = Mobiles (landscape)
  ##Screen = less than 768px
*/
@media (max-width: 768px) and (orientation: landscape){
	.home{
		width: 100vw;
		height: 816vh;
	}
	.masthead .main-navigation{
		top: 25%;
	}
	.entry-modal{
		height: 408%;
	}
	.entry-modal-success{
		height: 116%;
		top: 25%
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) and (max-width: 1024px) {
	.home{
		width: 100vw;
		height: 306vh;
	}
	.masthead .main-navigation{
		height: 15%;
	}
	.masthead .main-navigation .navigation-item a{
		font-size: 16px;
		font-size: 1rem;
	}
	.grid-container .entry-tittle{
		font-size: 20px;
		font-size: 1.25rem;
	}
	.grid-container .entry-subtittle{
		font-size: 16px;
		font-size: 1rem;
	}
	.grid-container .entry-button{
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-data .entry-item .entry-tittle{
		font-size: 36px;
		font-size: 2.25rem;
	}
	.entry-data .entry-item .entry-summary{
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-products{
		grid-template-rows: 5.19% 14.08% 26.91% 26.91% 26.91%;
	}
	.entry-products .entry-tittle{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-products .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-tittle{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-subtittle{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-quantity{
		font-size: 26px;
		font-size: 1.625rem;
	}
	.entry-products .entry-product .entry-quantity::after,
	.entry-modal .entry-product .entry-quantity::after{
		font-size: 15px;
		font-size: 0.9375rem;
	}
	.entry-products .entry-product .entry-modal-button{
		font-size: 14px;
		font-size: 0.875rem;
	}
	/* Modal principal */
	.entry-modal{
		height: 150%;
	}
	.entry-modal .entry-tittle{
		font-size: 18px;
		font-size: 1.125rem;		
	}
	.entry-modal .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-input .entry-tittle{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal .entry-product .entry-subtittle{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal .entry-product .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal .entry-product .entry-quantity{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-modal .product-selected .pledge-open .entry-tittle{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal .product-selected .pledge-open .entry-reward label{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal .product-selected .pledge-open .entry-reward input{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal .product-selected .pledge-open .entry-reward-button{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal-success{
		height: 30%;
	}
	.entry-modal-success .entry-tittle{
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-modal-success .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal-success .close-modal-success-button{
		font-size: 16px;
		font-size: 1rem;
	}
 }
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.home{
		height: 459vh;
	}
	.masthead .main-navigation{
		top: 25%;
		height: 30%;
	}
	.entry-modal{
		height: 225%;
	}
	.entry-modal .entry-product{
		margin-bottom: 2%;
	}
	.entry-modal .product-selected{
		padding-bottom: 1%;
		margin-top: 1%;
	}
	.entry-modal-success{
		height: 87%;
		top: 25%
	}
 }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
	.home{
		width: 100vw;
		height: 306.53vh;
	}
	.page{
		grid-template-rows: 14.22% 4.31% 10.51% 10.73% 60.63%;
	}
	.masthead{
		padding: 4% 11%;
		background-image: url('../images/image-hero-desktop.jpg');
		grid-template-columns: 80% 20%;
	}
	.masthead .menu-toggle{
		display: none;
	}
	.masthead .main-navigation{
		display: grid;
		background-color: transparent;
		position: relative;
		top: 0;
		width: 100%;
		height: auto;
		border: none;
	}
	.masthead .main-navigation ul{
		justify-self: end;
		display: grid;
        grid-template-columns: 28% 32% 40%;
        grid-template-rows: 100%;
        align-self: center;
        position: relative;
	}
	.masthead .main-navigation .navigation-item{
		align-self: start;
	}
	.masthead .main-navigation .navigation-item a{
		font-size: 10px;
		font-size: 0.625rem;
		color: var(--light-white);
		padding: 0;
	}
	.masthead .main-navigation #about,
	.masthead .main-navigation #discover,
	.masthead .main-navigation #started{
		border: none;
		justify-self: end;
	}
	.masthead .main-navigation .navigation-item a:hover{
		color: var(--light-white);
	}
	.grid-container{
		margin: 0 24.72% 1.6%;
		padding: 0 3.33%;
		display: grid;
		grid-template-rows: 23.88% 17.91% 20.15% 38.06%;
		grid-template-columns: 72.56% 27.44%;
	}
	.grid-container .entry-tittle{
		letter-spacing: 1px;
		font-size: 20px;
		font-size: 1.25rem;
	}
	.grid-container .entry-subtittle{
		letter-spacing: 1px;
		font-size: 10px;
		font-size: 0.625rem;
	}
	.grid-container .entry-button{
		justify-self: start;
		align-self: start;
		width: 44.35%;
		height: 49%;
	}
	.grid-container .entry-bookmark {
		justify-self: start;
		align-self: start;
		display: grid;
		grid-template-columns: 32.18% 67.82%;
		background-color: var(--light-white);
		border-radius: 30px;
		width: 100%;
		height: 49%;
	}
	.grid-container .entry-bookmark:hover{
		cursor: pointer;
	}
	.grid-container .entry-bookmark span{
		display: block;
		align-self: center;
		justify-self: center;
		text-align: center;
		color: var(--dark-gray);
		width: 100%;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: 700;
	}
	/* if bookmark selected */
	.grid-container .selected svg circle{
		fill: var(--dark-cyan);
	}
	.grid-container .selected svg path{
		fill: var(--light-white);
	}
	.grid-container .selected span{
		content: 'Bookmarked';
		color: var(--dark-cyan);
	}
	.entry-data{
		margin: 0 24.72% 1.6%;
		padding: 0 3.33%;
		grid-template-rows: 70.95% 29.05%;
		grid-template-columns: repeat(3, 1fr);
	}
	.entry-data .entry-item{
		justify-self: start;
	}
	.entry-data .entry-item .entry-tittle{
		font-size: 30px;
		font-size: 1.875rem;
	}
	.entry-data .entry-item .entry-summary{
		font-weight: 400;
	}
	.entry-data .entry-progress {
		grid-column: 1 / 4;
	}
	.entry-products{
		margin: 0 24.72% 7.85%;
		padding: 3.33%;
		grid-template-rows: 5.19% 20.08% 24.91% 24.91% 24.91%;
		grid-template-columns: 100%;
	}
	.entry-products .entry-tittle{
		align-self: start;
	}
	.entry-products .entry-product{
		padding: 3.33% 4.38%;
		margin-top: 0;
		margin-bottom: 4.11%;
		grid-template-rows: 17% 57.49% 25.51%;
		grid-template-columns: 72.16% 27.84%;
	}
	.entry-products .entry-product .entry-tittle{
		grid-column: 1/2;
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-products .entry-product .entry-subtittle{
		grid-column: 2/3;
		justify-self: end;
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-products .entry-product .entry-summary{
		grid-column: 1/3;
		align-self: center;
		font-size: 12px;
		font-size: 0.75rem;
	}
	.entry-products .entry-product .entry-quantity{
		grid-column: 1/2;
		font-size: 24px;
		font-size: 1.5rem;
	}
	.entry-products .entry-product .entry-modal-button{
		grid-column: 2/3;
		width: 100%;
		height: 100%;
		font-size: 12px;
		font-size: 0.75rem;
	}
	/* Modal principal */
	.entry-modal{
		left: 24.15%;
		width: 50.70%;
		height: 128.97%;
		padding: 3.33%;
	}
	.entry-modal .entry-tittle{
		font-size: 18px;
		font-size: 1.125;
		height: 5.52%;
	}
	.entry-modal .entry-button-close{
		right: 3.33%;
	}
	.entry-modal .entry-summary{
		font-size: 12px;
		font-size: 0.75;
		height: 5.52%;
	}
	.entry-modal .entry-product{
		height: 20.11%;
		padding: 3.33%;
		grid-template-rows: 35% 65%;
		grid-template-columns: 80% 20%;
		margin-bottom: 0;
		margin-top: 2.87%;
	}
	.entry-modal #no-reward{
		height: 20.11%;
	}
	.entry-modal #no-reward .entry-input{
		grid-template-rows: 100%;
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.entry-modal #no-reward .entry-summary{
		grid-row: 2/3;
		grid-column: 1/3;
		font-size: 12px;
		font-size: 0.75;
	}
	/* The radio button input */
	.entry-modal .entry-product .entry-input {
		align-self: center;
		justify-self: start;
		grid-row: 1/2;
		grid-column: 1/2;
		width: 100%;
		grid-template-columns: 50px auto auto;
		grid-template-rows: 100%;
	}
	.entry-modal #bamboo .entry-input {
		grid-template-columns: 50px 26.25% 65%;
	}
	.entry-modal #black .entry-input {
		grid-template-columns: 50px 31.25% 60%;
	}
	.entry-modal #mahogany .entry-input {
		grid-template-columns: 50px 36.25% 55%;
	}
	.entry-modal .entry-product .entry-input .entry-tittle{
		align-self: center;
		height: auto;
		width: auto;
		font-size: 12px;
		font-size: 0.75;
	}
	.entry-modal .entry-product .entry-input .entry-subtittle{
		grid-row: 1/2;
		grid-column: 3/4;
		justify-self: start;
		align-self: center;
		color: var(--moderate-cyan);
		font-size: 12px;
		font-size: 0.75;
	}
	.entry-modal .entry-product .entry-summary{
		grid-row: 2/3;
		grid-column: 1/4;
		justify-self: start;
		align-self: center;
		padding: 0 50px;
		font-size: 12px;
		font-size: 0.75;
	}
	.entry-modal .entry-product .entry-quantity{
		grid-row: 1/2;
		grid-column: 2/3;
		justify-self: end;
		align-self: center;
		font-size: 14px;
		font-size: 0.875;
	}
	.entry-modal .entry-pledge{
		display: none;
	}
	/* Cuando esta seleccionado el producto */
	.modal-expanded{
		height: 142.05%;
	}
	.entry-modal .product-selected{
		grid-template-rows: 21.72% 40.39% 37.89%;
		height: 31.2%;
		padding-bottom: 0;
	}
	.entry-modal .product-selected .pledge-open{
		grid-column: 1/4;
		grid-template-rows: 100%;
		grid-template-columns: 60.41% 19.8% 19.79%;
		grid-column-gap: 0;
		margin-top: 1%;
		width: 108%;
		margin-left: -4%;
		padding: 0 3.33%;
	}
	.entry-modal .product-selected .pledge-open .entry-tittle{
		grid-column: 1/2;
		width: 100%;
		height: auto;
		text-align: start;
		align-self: center;
		font-size: 12px;
		font-size: 0.75;
	}
	.entry-modal .product-selected .pledge-open .entry-reward{
		grid-column: 2/3;
		grid-row: 1/2;
		justify-self: start;
		align-self: center;
		width: 86.2%;
		height: 71.43%;
		font-size: 12px;
		font-size: 0.75;
	}
	.entry-modal .product-selected .pledge-open .entry-reward-button{
		grid-column: 3/4;
		grid-row: 1/2;
		justify-self: end;
		align-self: center;
		width: 100%;
		height: 71.43%;
		font-size: 12px;
		font-size: 0.75;
	}
	/* Modal Success */
	.entry-modal-success{
		left: 31.25%;
		width: 37.5%;
		height: 63.91%;
	}
	.entry-modal-success .entry-tittle{
		font-size: 20px;
		font-size: 1.25;
	}
	.entry-modal-success .entry-summary{
		line-height: 2;
		font-size: 12px;
		font-size: 0.75;
	}
	.entry-modal-success .entry-icon{
		justify-self: center;
		align-self: end;
	}
	.entry-modal-success .entry-icon img{
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
	.entry-modal-success .close-modal-success-button{
		font-size: 12px;
		font-size: 0.75;
	}
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
	.home{
		height: 204.356vh;
	}
	.grid-container .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
	}
	.grid-container .entry-subtittle{
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-products .entry-tittle{
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-products .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-tittle{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-subtittle{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-summary{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-products .entry-product .entry-quantity{
		font-size: 26px;
		font-size: 1.625rem;
	}
	.entry-products .entry-product .entry-modal-button{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-modal{
		height: 85.98%;
	}
	.modal-expanded{
		height: 94.7%;
	}
	.entry-modal-success{
		height: 42.61%;
	}
}
/*
##Device = Desktops
##Screen = Narrow computer screen
*/
@media (min-width: 1281px) and (max-height: 1024px) {
	.home{
		height: 306.53vh;
	}
	.entry-modal{
		height: 128.97%;
	}
	.modal-expanded{
		height: 142.05%;
	}
	.entry-modal-success{
		height: 63.91%;
	}
}